html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;       
}

textarea{
    display: inline-block;
    align-content: baseline;
    text-align: left;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.contato{
    display: inline-block;
    align-content: baseline;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px 50px 100px 50px;
    width: 100%;
    margin: 1px 1px 3px 1px;
    align-content: center;
    color: #fff;
}

#header{
    width: 600px;
}
form{
    background-color: #f2f2f2;
}
.navitem{
    cursor: pointer;
}
html {
    color: #fff;
    padding: 10px;
    text-align: top;
    justify-content: top;
}
.ponteiro {
    cursor: pointer;
}
.ponteiro:hover{
  background-color: #fff7e0 ;
}
#lupa{
  text-align:right;
}
#nav{
    text-align: center;
}
#navbar{
    text-align: right;
}
#contact{
    text-align: center; 
    color: #fff;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border: #ccc;	
    text-shadow: blue 1px 1px;
    box-shadow: blue 1px 1px 1px 1px;
    box-sizing: border-box;
}