html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;       
}

textarea{
    display: inline-block;
    align-content: baseline;
    text-align: left;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.contato{
    display: inline-block;
    align-content: baseline;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px 50px 100px 50px;
    width: 100%;
    margin: 1px 1px 3px 1px;
    align-content: center;
    color: white;
    color-scheme: dark;
}
#perguntas{
    display: inline-block;
    align-content: baseline;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px 50px 100px 50px;
    width: 100%;
    margin: 1px 1px 3px 1px;
    align-content: center;
    color: white;
}
.dark-textarea {
    background-color: #333; 
    color: #fff; 
    width: 75%; 
    height: 75px;
    border: none;
    padding: 5px;  
    font-family: Arial, Helvetica, sans-serif; 
    resize: none;
}
#header{
    width: 600px;
}
form{
    background-color: #f2f2f2;
}
.navitem{
    cursor: pointer;
}
html {
    color: #fff;
    padding: 10px;
    text-align: top;
    justify-content: top;
}
.ponteiro {
    cursor: pointer;
}
.ponteiro:hover{
  background-color: #fff7e0 ;
}
#lupa{
  text-align:right;
}
#nav{
    text-align: center;
}
#navbar{
    text-align: right;
    align-items: right;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    align-self: right;
}
#contact{
    text-align: center; 
    color: black;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border: #ccc;	
    text-shadow: white 1px 1px;
    box-shadow: white 1px 1px 1px 1px;
    box-sizing: border-box;
    border-radius: 30px;
}


#titulo {
    text-align: center;
    background-color: black; /* Define o fundo como preto */
    color: white; /* Define a cor do texto como branca */
    padding: 10px; /* Adiciona um espaçamento interno */
}

#containers{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

#containers #card{
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(135deg, #000000 0%, #00008B 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}
#containers #card:hover{
    transform: scale(1.050);
}

#containers #card #titulo-card{
    padding: 30px 20px;
    border-bottom: 2px solid gray;
}

#containers #card #titulo-card h2{
    font-size: 35px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
}

#containers #card #titulo-card p span{
    font-size: 40px;
    padding: 0 5px;
}

#containers #card #conteudo-card ul{
    padding: 10px 30px;
    padding-bottom: 20px;
}

#containers #card #conteudo-card ul li{
    list-style: none;
    padding: 10px 0;
}

#containers #card #conteudo-card ul li i{
    margin-right: 4px;
}

#containers #card #conteudo-card button{
    width: 120px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#containers #card #conteudo-card button:hover{
    background: #17ead9;
    letter-spacing: 1.2px;
}

#containers #card #conteudo-card button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
hr{
    color: transparent;
}